/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 370; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    font-family: var(--body-font);
    /*outline: 1px solid limegreen !important;*/
}

header,
section {
    overflow-x: hidden;
}

header a {
    font-family: var(--body-font);
    font-size: var(--font-medium);
    color: whitesmoke;
}

header {
    background-image: linear-gradient(180deg, var(--first-color-alt), var(--first-color), white);
}


/*==================== NAV ====================*/
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 140px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: var(--first-color);
}

.dropdown-content a:hover {
    background: var(--first-color-lighter);
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header.nav-item {
    padding: .9rem;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link {
    color: white;
}

/*TODO: Fix color white*/
header .nav-link span {
    color: white;
}

header .nav-link:hover {
    color: black;
}

header .color-changer {
    gap: 3rem;
}

header .color-btn {
    border-radius: 1rem;
    border: none;
    height: 1rem;
    width: 1rem;
}

header .color-btn-1 {
    background-color: hsl(370, 69%, 61%);
}

header .color-btn-2 {
    background-color: hsl(240, 69%, 61%);
}

header .color-btn-3 {
    background-color: hsl(170, 69%, 61%);
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--body-font);
    color: white;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: .1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
}

.bg-primary-color{
    background-color: var(--first-color);
}


/*==================== SECTION #1 ====================*/
.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 1em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background-color: white;
    border-radius: 15px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0 5px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--body-font);
    z-index: 1;
}

/*==================== SECTION #2 ====================*/
.cover {
    width: 100%;
    height: 70vmin;
    /*No working TODO: fix bg img*/
    background-color: var(--first-color);
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
    justify-content: center;

}

.cover .content {
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content > h1 {
    font-family: var(--body-font);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content > p {
    font-family: var(--body-font);
    font-size: 2vmin;
    color: aliceblue;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 2px 50px 0 rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: var(--first-color);
}

.numbers .rect p {
    font-family: var(--body-font);
}

.purchase > h1 {
    padding-top: 15vmin;
    padding-bottom: .1em;
    font-family: var(--body-font);
}

.purchase > p {
    color: var(--text-color-light);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: var(--body-color);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--text-color-light);
}

.card-body .pricing {
    background: var(--body-color);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
    font-size: 10vmin;
    padding: 1em .5em;
}

/*==================== SECTION #3 ====================*/
.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--first-color);
}

.section-3 .col-md-12 > h1 {
    padding: 2em 0 .5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12 > p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--text-color-light);
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}

/*==================== SECTION #4 ====================*/
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22rem;
    margin-top: 10vmin;
    height: 600px;
    justify-content: center;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body > a {
    font-size: 1.5em;
}

.section-4 .carousel {
    padding-left: 3rem;
    height: 100%;
}

.section-4 .carousel-inner {
    margin-left: -4vmin;
    align-content: center;
    height: 100%;
}

.border-radius {
    border-radius: 200px;
    width: 50%;
}

/*==================== FOOTER ====================*/
.footer {
    background: var(--first-color);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p > span {
    color: var(--first-color-lighter);
}

footer > p{
    color: var(--first-color-lighter);
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--first-color-alt);
    border: none;
}

footer .column i {
    color: var(--first-color-lighter);
}

footer .column i + i {
    padding: 0 0.5em;
}


